In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from pprint import pprint

In [2]:
statn =  pd.read_csv('/content/drive/MyDrive/Hackathon/Chuldong/tnSubwayStatn.csv')

statn.columns = ['지하철역ID', '지하철호선ID', '지하철역명', '지하철영문명', '이전지하철역ID', '다음지하철역ID', '우편번호',
       '기본주소', '상세주소', '전화번호', '팩스번호', '플랫폼구분', '하차문구분', '내부횡단여부', '화장실내외부',
       '환승호선수', '운영기관', '장애인시설설치여부', '환승주차장설치여부', '자전거보관소설치여부', '지하철역X좌표',
       '지하철역Y좌표', '토피스역ID', '연계역번호', '지하철역코드', '지하철노선이미지상단X좌표',
       '지하철노선이미지상단Y좌표', '급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)']

In [3]:
statn.head()

,지하철역ID,지하철호선ID,지하철역명,지하철영문명,이전지하철역ID,다음지하철역ID,우편번호,기본주소,상세주소,전화번호,...,환승주차장설치여부,자전거보관소설치여부,지하철역X좌표,지하철역Y좌표,토피스역ID,연계역번호,지하철역코드,지하철노선이미지상단X좌표,지하철노선이미지상단Y좌표,급행정차여부(0:미정차/1:상행정차/2:하행정차/3:양방향정차)
0,﻿1009000931,﻿1009,﻿삼전,﻿Samjeon,﻿1009000930,﻿1009000932,﻿05603,﻿서울 송파구 삼전동,﻿133-13,﻿,...,﻿,﻿,﻿207754.59092,﻿445000.75279,﻿,﻿931,﻿931,﻿1908,﻿1277,﻿0
1,﻿1009000932,﻿1009,﻿석촌고분,﻿Seokchon Gobun,﻿1009000931,﻿1009000933,﻿05603,﻿서울 송파구 삼전동,﻿133-13,﻿,...,﻿,﻿,﻿208546.69877,﻿444785.34871,﻿,﻿932,﻿932,﻿1981,﻿1244,﻿0
2,﻿1009000933,﻿1009,﻿석촌,﻿Seokchon(Hansol Hospital),﻿1009000932,﻿1009000934,﻿138170,﻿서울특별시 송파구 송파동,﻿19,﻿02-6311-8151,...,﻿,﻿,﻿209473.4,﻿445088.5,﻿291207,﻿933,﻿933,﻿2014,﻿1209,﻿0
3,﻿1009000934,﻿1009,﻿송파나루,﻿Songpanaru,﻿1009000933,﻿1009000935,﻿05620,﻿서울 송파구 송파동,﻿48-11,﻿,...,﻿,﻿,﻿209928.13163,﻿445680.01312,﻿,﻿934,﻿934,﻿2073,﻿1149,﻿0
4,﻿1009000935,﻿1009,﻿한성백제,﻿Hanseong Baekje,﻿1009000934,﻿1009000936,﻿05545,﻿서울 송파구 방이동,﻿45-4,﻿,...,﻿,﻿,﻿210265.51556,﻿446364.36553,﻿,﻿935,﻿935,﻿2121,﻿1101,﻿0

In [4]:
statn = statn.loc[:,['지하철역ID','지하철호선ID','지하철역명','이전지하철역ID','다음지하철역ID']]

In [5]:
def get_statn(statn):
    a = statn['지하철역ID'].to_list()
    b = statn['이전지하철역ID'].to_list()
    c = statn['다음지하철역ID'].to_list()
    d = statn['지하철호선ID'].to_list()
    e = statn['지하철역명'].to_list()
    for i in range(len(a)):
        a[i] = a[i].replace("\uFEFF", "")
        b[i] = b[i].replace("\uFEFF", "")
        c[i] = c[i].replace("\uFEFF", "")
        d[i] = d[i].replace("\uFEFF", "")
        e[i] = e[i].replace("\uFEFF", "")

    statn['지하철역ID'] = a    
    statn['이전지하철역ID'] = b
    statn['다음지하철역ID'] = c
    statn['지하철호선ID'] = d
    statn['지하철역명'] = e

    return statn

statn = get_statn(statn)

In [6]:
statn_dict = {}
for index, row in statn.iterrows():
    statn_dict[row['지하철역ID']] = row['지하철역명'] 
statn_dict['1001080141'] = '광명'

In [7]:
statn['이전역'] = ''
statn['다음역'] = ''

for index, row in statn.iterrows():
    row['이전역'] = statn_dict[row['이전지하철역ID']]
    row['다음역'] = statn_dict[row['다음지하철역ID']]

statn = statn.loc[:,['지하철호선ID','지하철역명','이전역','다음역']]

In [8]:
statn['지하철호선명'] = ''

for idx, row in statn.iterrows():
	if row.지하철호선ID	 == '1009':
		row.지하철호선명 = '9호선'
	elif row.지하철호선ID	 == '1078':
		row.지하철호선명 = '인천2호선'
	elif row.지하철호선ID	 == '1092':
		row.지하철호선명 = '우이신설'
	elif row.지하철호선ID	 == '1067':
		row.지하철호선명 = '경춘'
	elif row.지하철호선ID	 == '1069':
		row.지하철호선명 = '인천1호선'
	elif row.지하철호선ID	 == '1003':
		row.지하철호선명 = '3호선'
	elif row.지하철호선ID	 == '1063':
		row.지하철호선명 = '경의'
	elif row.지하철호선ID	 == '1065':
		row.지하철호선명 = '공항철도'
		
	elif row.지하철호선ID	 == '1071':
		row.지하철호선명 = '수인분당'
	elif row.지하철호선ID	 == '1091':
		row.지하철호선명 = '자기부상철도'
	elif row.지하철호선ID	 == '1075':
		row.지하철호선명 = '수인분당'
	elif row.지하철호선ID	 == '1077':
		row.지하철호선명 = '신분당'
	elif row.지하철호선ID	 == '1093':
		row.지하철호선명 = '서해선'
	elif row.지하철호선ID	 == '1001':
		row.지하철호선명 = '1호선'
	elif row.지하철호선ID	 == '1002':
		row.지하철호선명 = '2호선'
	elif row.지하철호선ID	 == '1007':
		row.지하철호선명 = '7호선'
		
	elif row.지하철호선ID	 == '1004':
		row.지하철호선명 = '4호선'
	elif row.지하철호선ID	 == '1008':
		row.지하철호선명 = '8호선'
	elif row.지하철호선ID	 == '1006':
		row.지하철호선명 = '6호선'
	elif row.지하철호선ID	 == '1005':
		row.지하철호선명 = '5호선'
	elif row.지하철호선ID	 == '1079':
		row.지하철호선명 = '의정부경전철'
	elif row.지하철호선ID	 == '1081':
		row.지하철호선명 = '신분당'
	elif row.지하철호선ID	 == '1080':
		row.지하철호선명 = '에버라인'

In [9]:
df_before = statn[['지하철호선명','지하철역명','지하철호선명','이전역']]
df_before['weight'] = 1
df_before.columns = ['선명','역명칭','환승선명','환승이후역명','weight']
df_after = statn[['지하철호선명','지하철역명','지하철호선명','다음역']]
df_after['weight'] = 1
df_after.columns = ['선명','역명칭','환승선명','환승이후역명','weight']

df3 = pd.concat([df_before,df_after], axis = 0)

In [10]:
df =  pd.read_csv('/content/drive/MyDrive/Hackathon/Chuldong/서울시장애인지하철편의시설정보.csv', encoding='cp949')

In [11]:
df1 =  pd.read_csv('/content/drive/MyDrive/Hackathon/Chuldong/국가철도공단_서울메트로_환승정보_20221122.csv', encoding='cp949')

In [12]:
df1[df1.역명.str.contains('내방')]

Empty DataFrame
Columns: [철도운영기관명, 선명, 역명, 환승철도운영기관, 환승선명, 환승이후역명, 환승기점역명, 차량순서, 차량출입문번호]
Index: []

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   고유번호             457 non-null    int64
 1   노선               457 non-null    int64
 2   노선명칭             457 non-null    object
 3   역명칭              457 non-null    object
 4   역 이미지            457 non-null    object
 5   운행방향1            457 non-null    object
 6   운행방향2            457 non-null    object
 7   엘레베이터 동영상        231 non-null    object
 8   엘리베이터 자막         231 non-null    object
 9   지아철 팝업 이미지       457 non-null    object
 10  사용여부             457 non-null    object
 11  편의시설 아이콘 이미지 목록  299 non-null    object
 12  출구정보             417 non-null    object
 13  전화번호안내           455 non-null    object
 14  코스1 첫차           435 non-null    object
 15  코스1 막차           435 non-null    object
 16  코스2 첫차           435 non-null    object
 17  코스2 막차           435 non-null    object
dtypes: int64(2), object(16)
memory usage: 64.4+ KB

In [14]:
df = df.loc[:,['고유번호','노선','노선명칭','역명칭']]

In [15]:
df1.columns = ['철도운영기관명', '선명', '역명칭', '환승철도운영기관', '환승선명', '환승이후역명', '환승기점역명', '차량순서', '차량출입문번호']

In [16]:
df1.merge(df,'left',on='역명칭')

,철도운영기관명,선명,역명칭,환승철도운영기관,환승선명,환승이후역명,환승기점역명,차량순서,차량출입문번호,고유번호,노선,노선명칭
0,서울교통공사,1호선,청량리(서울시립대입구),코레일,경의중앙,왕십리,용산,10,4,NaN,NaN,NaN
1,서울교통공사,1호선,청량리(서울시립대입구),코레일,경의중앙,회기,문산,1,1,NaN,NaN,NaN
2,서울교통공사,1호선,청량리(서울시립대입구),코레일,경의중앙,왕십리,용산,1,1,NaN,NaN,NaN
3,서울교통공사,1호선,청량리(서울시립대입구),코레일,경의중앙,회기,문산,10,4,NaN,NaN,NaN
4,서울교통공사,1호선,신설동,서울교통공사,2호선,용두,성수,9,4,62.0,1.0,1호선
...,...,...,...,...,...,...,...,...,...,...,...,...
875,서울교통공사,8호선,복정,코레일,수인분당,가천대,수원,3,2,354.0,8.0,8호선
876,서울교통공사,8호선,모란,코레일,수인분당,태평,왕십리,1,1,375.0,9.0,분당선
877,서울교통공사,8호선,모란,코레일,수인분당,태평,왕십리,1,1,348.0,8.0,8호선
878,서울교통공사,8호선,모란,코레일,수인분당,야탑,수원,1,1,375.0,9.0,분당선
879,서울교통공사,8호선,모란,코레일,수인분당,야탑,수원,1,1,348.0,8.0,8호선

In [17]:
df1

    철도운영기관명   선명           역명칭 환승철도운영기관  환승선명 환승이후역명 환승기점역명  차량순서  차량출입문번호
0    서울교통공사  1호선  청량리(서울시립대입구)      코레일  경의중앙    왕십리     용산    10        4
1    서울교통공사  1호선  청량리(서울시립대입구)      코레일  경의중앙     회기     문산     1        1
2    서울교통공사  1호선  청량리(서울시립대입구)      코레일  경의중앙    왕십리     용산     1        1
3    서울교통공사  1호선  청량리(서울시립대입구)      코레일  경의중앙     회기     문산    10        4
4    서울교통공사  1호선           신설동   서울교통공사   2호선     용두     성수     9        4
..      ...  ...           ...      ...   ...    ...    ...   ...      ...
476  서울교통공사  8호선            복정      코레일  수인분당    가천대     수원     4        2
477  서울교통공사  8호선            복정      코레일  수인분당     수서    왕십리     4        2
478  서울교통공사  8호선            복정      코레일  수인분당    가천대     수원     3        2
479  서울교통공사  8호선            모란      코레일  수인분당     태평    왕십리     1        1
480  서울교통공사  8호선            모란      코레일  수인분당     야탑     수원     1        1

[481 rows x 9 columns]

In [18]:
line = {
    '1호선':1,
    '2호선':2,
    '3호선':3,
    '4호선':4,
    '5호선':5,
    '6호선':6,
    '7호선':7,
    '8호선':8,
    '9호선':9,
    '인천1호선':11,
    '인천2호선':12,
    '경의중앙':21,
    '우이신설':22,
    '공항철도':23,
    '경춘':24,
    '수인분당':25,
    '신분당선':33,
    '수인선':32,
    '서해선':31,
    '경의':41,
    '자기부상철도':42,
    '신분당':43,
    '의정부경전철':44,
    '에버라인':45
}

In [19]:
df2 = df1.loc[:,['선명','역명칭','환승선명','환승이후역명']]

In [20]:
df2['weight'] = 1

In [21]:
df2 = pd.concat([df2,df3],axis=0)

In [22]:
df2 = df2.dropna()

In [23]:
df2['환승이후역명'][df2['환승이후역명']=='녹사평(용산구청)'] = '녹사평'
df2['환승이후역명'][df2['환승이후역명']=='선정릉(한국과학창의재단)'] = '선정릉'
df2['환승이후역명'][df2['환승이후역명']=='대흥(서강대앞)'] = '대흥'
df2['환승이후역명'][df2['환승이후역명']=='복정(동서울대학)'] = '복정'
df2['환승이후역명'][df2['환승이후역명']=='어린이대공원(세종대)'] = '어린이대공원'
df2['환승이후역명'][df2['환승이후역명']=='구의(광진구청)'] = '구의'
df2['환승이후역명'][df2['환승이후역명']=='공릉(서울과학기술대)'] = '공릉'
df2['환승이후역명'][df2['환승이후역명']=='화랑대(서울여대입구)'] = '화랑대'
df2['환승이후역명'][df2['환승이후역명']=='회현(남대문시장)'] = '회현'
df2['환승이후역명'][df2['환승이후역명']=='숙대입구(갈월)'] = '숙대입구'

<ipython-input-23-3b532b653f45>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='선정릉(한국과학창의재단)'] = '선정릉'
<ipython-input-23-3b532b653f45>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='대흥(서강대앞)'] = '대흥'
<ipython-input-23-3b532b653f45>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='복정(동서울대학)'] = '복정'
<ipython-input-23-3b532b653f45>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='어린이대공원(세종대)'] = '어린이대공원'
<ipython-input-23-3b532b653f45>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='구의(광진구청)'] = '구의'
<ipython-input-23-3b532b653f45>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='공릉(서울과학기술대)'] = '공릉'
<ipython-input-23-3b532b653f45>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='화랑대(서울여대입구)'] = '화랑대'
<ipython-input-23-3b532b653f45>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='회현(남대문시장)'] = '회현'
<ipython-input-23-3b532b653f45>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['환승이후역명'][df2['환승이후역명']=='숙대입구(갈월)'] = '숙대입구'

In [24]:
df2[df2['환승이후역명'].str.contains('\(')]

      선명         역명칭  환승선명         환승이후역명  weight
17   1호선        종로3가   5호선    광화문(세종문화회관)       1
19   1호선        종로3가   5호선    광화문(세종문화회관)       1
25   1호선          시청   2호선     충정로(경기대입구)       1
27   1호선          시청   2호선     충정로(경기대입구)       1
44   2호선       을지로4가   5호선     종로3가(탑골공원)       1
47   2호선       을지로4가   5호선     종로3가(탑골공원)       1
75   2호선    잠실(송파구청)   8호선     몽촌토성(평화의문)       1
76   2호선    잠실(송파구청)   8호선     몽촌토성(평화의문)       1
84   2호선          강남  신분당선       양재(서초구청)       1
85   2호선          강남  신분당선       양재(서초구청)       1
88   2호선  교대(법원·검찰청)   3호선   남부터미널(예술의전당)       1
89   2호선  교대(법원·검찰청)   3호선   남부터미널(예술의전당)       1
90   2호선          사당   4호선      총신대입구(이수)       1
92   2호선          사당   4호선      총신대입구(이수)       1
103  2호선         신도림   2호선       대림(구로구청)       1
142  3호선        종로3가   5호선    광화문(세종문화회관)       1
147  3호선        종로3가   5호선    광화문(세종문화회관)       1
176  3호선    양재(서초구청)  신분당선     양재시민의숲(매헌)       1
178  3호선    양재(서초구청)  신분당선     양재시민의숲(매헌)       1
253  2호선         까치산   5호선        신정(은행정)       1
426  7호선      군자(능동)   5호선  아차산(어린이대공원후문)       1
428  7호선      군자(능동)   5호선  아차산(어린이대공원후문)       1
437  7호선       고속터미널   3호선     교대(법원·검찰청)       1
440  7호선       고속터미널   3호선     교대(법원·검찰청)       1
447  7호선   총신대입구(이수)   4호선        동작(현충원)       1
448  7호선   총신대입구(이수)   4호선        동작(현충원)       1
463  8호선    천호(풍납토성)   5호선       광나루(장신대)       1
465  8호선    천호(풍납토성)   5호선       광나루(장신대)       1
97    경의          원덕    경의      양평(경의중앙선)       1
100   경의          서울    경의      신촌(경의중앙선)       1
233  1호선          아산   1호선       쌍용(나사렛대)       1
277  7호선          남성   7호선      총신대입구(이수)       1
527  4호선          사당   4호선      총신대입구(이수)       1
95    경의          오빈    경의      양평(경의중앙선)       1
231  1호선          봉명   1호선       쌍용(나사렛대)       1
490  7호선          내방   7호선      총신대입구(이수)       1
525  4호선          동작   4호선      총신대입구(이수)       1

In [25]:
df2 = df2.loc[:,['선명','역명칭','환승선명','환승이후역명','weight']]

In [26]:
df2.drop_duplicates(inplace=True)

In [27]:
df2 = df2[(df2['환승선명']=='2호선')|(df2['환승선명']=='3호선')|(df2['환승선명']=='4호선')]

df2.head()

     선명   역명칭 환승선명     환승이후역명  weight
4   1호선   신설동  2호선         용두       1
12  1호선   동대문  4호선  동대문역사문화공원       1
13  1호선   동대문  4호선         혜화       1
20  1호선  종로3가  3호선      을지로3가       1
21  1호선  종로3가  3호선         안국       1

In [33]:
df2['엘리베이터'] = ''
df2['리프트'] = ''
df2['전화번호'] = ''

df2.head()

     선명   역명칭 환승선명     환승이후역명  weight 엘리베이터 리프트 전화번호
4   1호선   신설동  2호선         용두       1
12  1호선   동대문  4호선  동대문역사문화공원       1
13  1호선   동대문  4호선         혜화       1
20  1호선  종로3가  3호선      을지로3가       1
21  1호선  종로3가  3호선         안국       1

In [28]:
import networkx as nx

edges = []
edge_labels = {}


for idx, row in df2.iterrows():
    edges.append((row.역명칭,row.환승이후역명, {"weight":row.weight}))
    edge_labels[(row.역명칭,row.환승이후역명)] = row.환승선명

In [29]:
edges

[('신설동', '용두', {'weight': 1}),
 ('동대문', '동대문역사문화공원', {'weight': 1}),
 ('동대문', '혜화', {'weight': 1}),
 ('종로3가', '을지로3가', {'weight': 1}),
 ('종로3가', '안국', {'weight': 1}),
 ('시청', '을지로입구', {'weight': 1}),
 ('시청', '충정로(경기대입구)', {'weight': 1}),
 ('서울역', '회현', {'weight': 1}),
 ('서울역', '숙대입구', {'weight': 1}),
 ('을지로3가', '종로3가', {'weight': 1}),
 ('을지로3가', '충무로', {'weight': 1}),
 ('동대문역사문화공원', '동대문', {'weight': 1}),
 ('동대문역사문화공원', '충무로', {'weight': 1}),
 ('교대(법원·검찰청)', '고속터미널', {'weight': 1}),
 ('교대(법원·검찰청)', '남부터미널(예술의전당)', {'weight': 1}),
 ('사당', '총신대입구(이수)', {'weight': 1}),
 ('사당', '남태령', {'weight': 1}),
 ('신도림', '문래', {'weight': 1}),
 ('신도림', '대림(구로구청)', {'weight': 1}),
 ('신도림', '도림천', {'weight': 1}),
 ('을지로3가', '을지로입구', {'weight': 1}),
 ('을지로3가', '을지로4가', {'weight': 1}),
 ('충무로', '동대문역사문화공원', {'weight': 1}),
 ('충무로', '명동', {'weight': 1}),
 ('교대(법원·검찰청)', '강남', {'weight': 1}),
 ('교대(법원·검찰청)', '서초', {'weight': 1}),
 ('동대문역사문화공원', '을지로입구', {'weight': 1}),
 ('동대문역사문화공원', '신당', {'weight': 1}),
 ('충무로', '을지로3가', {'weight': 1}),
 ('충무로', '동대입구', {'weight': 1}),
 ('사당', '방배', {'weight': 1}),
 ('사당', '낙성대', {'weight': 1}),
 ('까치산', '신정네거리', {'weight': 1}),
 ('영등포구청', '문래', {'weight': 1}),
 ('영등포구청', '당산', {'weight': 1}),
 ('충정로(경기대입구)', '시청', {'weight': 1}),
 ('충정로(경기대입구)', '아현', {'weight': 1}),
 ('종로3가(탑골공원)', '안국', {'weight': 1}),
 ('종로3가(탑골공원)', '을지로3가', {'weight': 1}),
 ('을지로4가', '을지로3가', {'weight': 1}),
 ('을지로4가', '동대문역사문화공원', {'weight': 1}),
 ('동대문역사문화공원', '을지로4가', {'weight': 1}),
 ('동대문역사문화공원', '신당', {'weight': 1}),
 ('동대문역사문화공원', '동대문', {'weight': 1}),
 ('동대문역사문화공원', '충무로', {'weight': 1}),
 ('왕십리', '상왕십리', {'weight': 1}),
 ('왕십리', '한양대', {'weight': 1}),
 ('오금', '경찰병원', {'weight': 1}),
 ('불광', '녹번', {'weight': 1}),
 ('불광', '연신내', {'weight': 1}),
 ('연신내', '불광', {'weight': 1}),
 ('연신내', '구파발', {'weight': 1}),
 ('합정', '홍대입구', {'weight': 1}),
 ('합정', '당산', {'weight': 1}),
 ('삼각지', '숙대입구', {'weight': 1}),
 ('삼각지', '신용산', {'weight': 1}),
 ('약수', '동대입구', {'weight': 1}),
 ('약수', '금호', {'weight': 1}),
 ('신당', '동대문역사문화공원', {'weight': 1}),
 ('신당', '상왕십리', {'weight': 1}),
 ('노원', '상계', {'weight': 1}),
 ('노원', '창동', {'weight': 1}),
 ('건대입구', '성수', {'weight': 1}),
 ('건대입구', '구의', {'weight': 1}),
 ('고속터미널', '교대(법원·검찰청)', {'weight': 1}),
 ('고속터미널', '잠원', {'weight': 1}),
 ('총신대입구(이수)', '사당', {'weight': 1}),
 ('총신대입구(이수)', '동작(현충원)', {'weight': 1}),
 ('대림(구로구청)', '신도림', {'weight': 1}),
 ('대림(구로구청)', '구로디지털단지', {'weight': 1}),
 ('잠실(송파구청)', '잠실나루', {'weight': 1}),
 ('잠실(송파구청)', '잠실새내', {'weight': 1}),
 ('가락시장', '수서', {'weight': 1}),
 ('가락시장', '경찰병원', {'weight': 1}),
 ('원흥', '원당', {'weight': 1}),
 ('대림', '구로디지털단지', {'weight': 1}),
 ('녹번', '불광', {'weight': 1}),
 ('홍제', '녹번', {'weight': 1}),
 ('무악재', '홍제', {'weight': 1}),
 ('독립문', '무악재', {'weight': 1}),
 ('경복궁', '독립문', {'weight': 1}),
 ('안국', '경복궁', {'weight': 1}),
 ('종로3가', '안국', {'weight': 1}),
 ('을지로3가', '종로3가', {'weight': 1}),
 ('충무로', '을지로3가', {'weight': 1}),
 ('동대입구', '충무로', {'weight': 1}),
 ('약수', '동대입구', {'weight': 1}),
 ('금호', '약수', {'weight': 1}),
 ('옥수', '금호', {'weight': 1}),
 ('압구정', '옥수', {'weight': 1}),
 ('신사', '압구정', {'weight': 1}),
 ('잠원', '신사', {'weight': 1}),
 ('고속터미널', '잠원', {'weight': 1}),
 ('교대', '고속터미널', {'weight': 1}),
 ('남부터미널', '교대', {'weight': 1}),
 ('양재', '남부터미널', {'weight': 1}),
 ('매봉', '양재', {'weight': 1}),
 ('도곡', '매봉', {'weight': 1}),
 ('대치', '도곡', {'weight': 1}),
 ('학여울', '대치', {'weight': 1}),
 ('대청', '학여울', {'weight': 1}),
 ('일원', '대청', {'weight': 1}),
 ('수서', '일원', {'weight': 1}),
 ('가락시장', '수서', {'weight': 1}),
 ('경찰병원', '가락시장', {'weight': 1}),
 ('오금', '경찰병원', {'weight': 1}),
 ('당고개', '당고개', {'weight': 1}),
 ('상계', '당고개', {'weight': 1}),
 ('반월', '대야미', {'weight': 1}),
 ('상록수', '반월', {'weight': 1}),
 ('한대앞', '상록수', {'weight': 1}),
 ('중앙', '한대앞', {'weight': 1}),
 ('고잔', '중앙', {'weight': 1}),
 ('초지', '고잔', {'weight': 1}),
 ('안산', '초지', {'weight': 1}),
 ('신길온천', '안산', {'weight': 1}),
 ('정왕', '신길온천', {'weight': 1}),
 ('오이도', '정왕', {'weight': 1}),
 ('창동', '노원', {'weight': 1}),
 ('쌍문', '창동', {'weight': 1}),
 ('수유', '쌍문', {'weight': 1}),
 ('미아', '수유', {'weight': 1}),
 ('미아사거리', '미아', {'weight': 1}),
 ('길음', '미아사거리', {'weight': 1}),
 ('성신여대입구', '길음', {'weight': 1}),
 ('한성대입구', '성신여대입구', {'weight': 1}),
 ('혜화', '한성대입구', {'weight': 1}),
 ('동대문', '혜화', {'weight': 1}),
 ('동대문역사문화공원', '동대문', {'weight': 1}),
 ('충무로', '동대문역사문화공원', {'weight': 1}),
 ('명동', '충무로', {'weight': 1}),
 ('회현', '명동', {'weight': 1}),
 ('서울', '회현', {'weight': 1}),
 ('숙대입구', '서울', {'weight': 1}),
 ('삼각지', '숙대입구', {'weight': 1}),
 ('신용산', '삼각지', {'weight': 1}),
 ('이촌', '신용산', {'weight': 1}),
 ('동작', '이촌', {'weight': 1}),
 ('총신대입구(이수)', '동작', {'weight': 1}),
 ('사당', '총신대입구(이수)', {'weight': 1}),
 ('남태령', '사당', {'weight': 1}),
 ('선바위', '남태령', {'weight': 1}),
 ('경마공원', '선바위', {'weight': 1}),
 ('대공원', '경마공원', {'weight': 1}),
 ('과천', '대공원', {'weight': 1}),
 ('정부과천청사', '과천', {'weight': 1}),
 ('인덕원', '정부과천청사', {'weight': 1}),
 ('평촌', '인덕원', {'weight': 1}),
 ('범계', '평촌', {'weight': 1}),
 ('금정', '범계', {'weight': 1}),
 ('산본', '금정', {'weight': 1}),
 ('수리산', '산본', {'weight': 1}),
 ('대야미', '수리산', {'weight': 1}),
 ('신도림', '대림', {'weight': 1}),
 ('문래', '신도림', {'weight': 1}),
 ('영등포구청', '문래', {'weight': 1}),
 ('당산', '영등포구청', {'weight': 1}),
 ('합정', '당산', {'weight': 1}),
 ('홍대입구', '합정', {'weight': 1}),
 ('신촌', '홍대입구', {'weight': 1}),
 ('이대', '신촌', {'weight': 1}),
 ('아현', '이대', {'weight': 1}),
 ('충정로', '아현', {'weight': 1}),
 ('용답', '성수', {'weight': 1}),
 ('신답', '용답', {'weight': 1}),
 ('용두', '신답', {'weight': 1}),
 ('신설동', '용두', {'weight': 1}),
 ('도림천', '신도림', {'weight': 1}),
 ('양천구청', '도림천', {'weight': 1}),
 ('신정네거리', '양천구청', {'weight': 1}),
 ('까치산', '신정네거리', {'weight': 1}),
 ('대화', '대화', {'weight': 1}),
 ('주엽', '대화', {'weight': 1}),
 ('정발산', '주엽', {'weight': 1}),
 ('마두', '정발산', {'weight': 1}),
 ('백석', '마두', {'weight': 1}),
 ('대곡', '백석', {'weight': 1}),
 ('화정', '대곡', {'weight': 1}),
 ('원당', '화정', {'weight': 1}),
 ('삼송', '원흥', {'weight': 1}),
 ('지축', '삼송', {'weight': 1}),
 ('구파발', '지축', {'weight': 1}),
 ('연신내', '구파발', {'weight': 1}),
 ('불광', '연신내', {'weight': 1}),
 ('시청', '충정로', {'weight': 1}),
 ('을지로입구', '시청', {'weight': 1}),
 ('을지로3가', '을지로입구', {'weight': 1}),
 ('을지로4가', '을지로3가', {'weight': 1}),
 ('동대문역사문화공원', '을지로4가', {'weight': 1}),
 ('신당', '동대문역사문화공원', {'weight': 1}),
 ('상왕십리', '신당', {'weight': 1}),
 ('왕십리', '상왕십리', {'weight': 1}),
 ('한양대', '왕십리', {'weight': 1}),
 ('뚝섬', '한양대', {'weight': 1}),
 ('성수', '뚝섬', {'weight': 1}),
 ('건대입구', '성수', {'weight': 1}),
 ('구의', '건대입구', {'weight': 1}),
 ('강변', '구의', {'weight': 1}),
 ('잠실나루', '강변', {'weight': 1}),
 ('잠실', '잠실나루', {'weight': 1}),
 ('잠실새내', '잠실', {'weight': 1}),
 ('종합운동장', '잠실새내', {'weight': 1}),
 ('삼성', '종합운동장', {'weight': 1}),
 ('선릉', '삼성', {'weight': 1}),
 ('역삼', '선릉', {'weight': 1}),
 ('강남', '역삼', {'weight': 1}),
 ('교대', '강남', {'weight': 1}),
 ('서초', '교대', {'weight': 1}),
 ('방배', '서초', {'weight': 1}),
 ('사당', '방배', {'weight': 1}),
 ('낙성대', '사당', {'weight': 1}),
 ('서울대입구', '낙성대', {'weight': 1}),
 ('봉천', '서울대입구', {'weight': 1}),
 ('신림', '봉천', {'weight': 1}),
 ('신대방', '신림', {'weight': 1}),
 ('구로디지털단지', '신대방', {'weight': 1}),
 ('노원', '상계', {'weight': 1}),
 ('원흥', '삼송', {'weight': 1}),
 ('대림', '신도림', {'weight': 1}),
 ('녹번', '홍제', {'weight': 1}),
 ('홍제', '무악재', {'weight': 1}),
 ('무악재', '독립문', {'weight': 1}),
 ('독립문', '경복궁', {'weight': 1}),
 ('경복궁', '안국', {'weight': 1}),
 ('안국', '종로3가', {'weight': 1}),
 ('종로3가', '을지로3가', {'weight': 1}),
 ('을지로3가', '충무로', {'weight': 1}),
 ('충무로', '동대입구', {'weight': 1}),
 ('동대입구', '약수', {'weight': 1}),
 ('약수', '금호', {'weight': 1}),
 ('금호', '옥수', {'weight': 1}),
 ('옥수', '압구정', {'weight': 1}),
 ('압구정', '신사', {'weight': 1}),
 ('신사', '잠원', {'weight': 1}),
 ('잠원', '고속터미널', {'weight': 1}),
 ('고속터미널', '교대', {'weight': 1}),
 ('교대', '남부터미널', {'weight': 1}),
 ('남부터미널', '양재', {'weight': 1}),
 ('양재', '매봉', {'weight': 1}),
 ('매봉', '도곡', {'weight': 1}),
 ('도곡', '대치', {'weight': 1}),
 ('대치', '학여울', {'weight': 1}),
 ('학여울', '대청', {'weight': 1}),
 ('대청', '일원', {'weight': 1}),
 ('일원', '수서', {'weight': 1}),
 ('수서', '가락시장', {'weight': 1}),
 ('가락시장', '경찰병원', {'weight': 1}),
 ('경찰병원', '오금', {'weight': 1}),
 ('오금', '오금', {'weight': 1}),
 ('당고개', '상계', {'weight': 1}),
 ('상계', '노원', {'weight': 1}),
 ('반월', '상록수', {'weight': 1}),
 ('상록수', '한대앞', {'weight': 1}),
 ('한대앞', '중앙', {'weight': 1}),
 ('중앙', '고잔', {'weight': 1}),
 ('고잔', '초지', {'weight': 1}),
 ('초지', '안산', {'weight': 1}),
 ('안산', '신길온천', {'weight': 1}),
 ('신길온천', '정왕', {'weight': 1}),
 ('정왕', '오이도', {'weight': 1}),
 ('오이도', '오이도', {'weight': 1}),
 ('창동', '쌍문', {'weight': 1}),
 ('쌍문', '수유', {'weight': 1}),
 ('수유', '미아', {'weight': 1}),
 ('미아', '미아사거리', {'weight': 1}),
 ('미아사거리', '길음', {'weight': 1}),
 ('길음', '성신여대입구', {'weight': 1}),
 ('성신여대입구', '한성대입구', {'weight': 1}),
 ('한성대입구', '혜화', {'weight': 1}),
 ('혜화', '동대문', {'weight': 1}),
 ('동대문', '동대문역사문화공원', {'weight': 1}),
 ('동대문역사문화공원', '충무로', {'weight': 1}),
 ('충무로', '명동', {'weight': 1}),
 ('명동', '회현', {'weight': 1}),
 ('회현', '서울', {'weight': 1}),
 ('서울', '숙대입구', {'weight': 1}),
 ('숙대입구', '삼각지', {'weight': 1}),
 ('삼각지', '신용산', {'weight': 1}),
 ('신용산', '이촌', {'weight': 1}),
 ('이촌', '동작', {'weight': 1}),
 ('동작', '총신대입구(이수)', {'weight': 1}),
 ('총신대입구(이수)', '사당', {'weight': 1}),
 ('사당', '남태령', {'weight': 1}),
 ('남태령', '선바위', {'weight': 1}),
 ('선바위', '경마공원', {'weight': 1}),
 ('경마공원', '대공원', {'weight': 1}),
 ('대공원', '과천', {'weight': 1}),
 ('과천', '정부과천청사', {'weight': 1}),
 ('정부과천청사', '인덕원', {'weight': 1}),
 ('인덕원', '평촌', {'weight': 1}),
 ('평촌', '범계', {'weight': 1}),
 ('범계', '금정', {'weight': 1}),
 ('금정', '산본', {'weight': 1}),
 ('산본', '수리산', {'weight': 1}),
 ('수리산', '대야미', {'weight': 1}),
 ('대야미', '반월', {'weight': 1}),
 ('문래', '영등포구청', {'weight': 1}),
 ('영등포구청', '당산', {'weight': 1}),
 ('당산', '합정', {'weight': 1}),
 ('합정', '홍대입구', {'weight': 1}),
 ('홍대입구', '신촌', {'weight': 1}),
 ('신촌', '이대', {'weight': 1}),
 ('이대', '아현', {'weight': 1}),
 ('아현', '충정로', {'weight': 1}),
 ('충정로', '시청', {'weight': 1}),
 ('용답', '신답', {'weight': 1}),
 ('신답', '용두', {'weight': 1}),
 ('용두', '신설동', {'weight': 1}),
 ('신설동', '신설동', {'weight': 1}),
 ('도림천', '양천구청', {'weight': 1}),
 ('양천구청', '신정네거리', {'weight': 1}),
 ('신정네거리', '까치산', {'weight': 1}),
 ('까치산', '까치산', {'weight': 1}),
 ('대화', '주엽', {'weight': 1}),
 ('주엽', '정발산', {'weight': 1}),
 ('정발산', '마두', {'weight': 1}),
 ('마두', '백석', {'weight': 1}),
 ('백석', '대곡', {'weight': 1}),
 ('대곡', '화정', {'weight': 1}),
 ('화정', '원당', {'weight': 1}),
 ('원당', '원흥', {'weight': 1}),
 ('삼송', '지축', {'weight': 1}),
 ('지축', '구파발', {'weight': 1}),
 ('구파발', '연신내', {'weight': 1}),
 ('연신내', '불광', {'weight': 1}),
 ('불광', '녹번', {'weight': 1}),
 ('시청', '을지로입구', {'weight': 1}),
 ('을지로입구', '을지로3가', {'weight': 1}),
 ('을지로3가', '을지로4가', {'weight': 1}),
 ('을지로4가', '동대문역사문화공원', {'weight': 1}),
 ('동대문역사문화공원', '신당', {'weight': 1}),
 ('신당', '상왕십리', {'weight': 1}),
 ('상왕십리', '왕십리', {'weight': 1}),
 ('왕십리', '한양대', {'weight': 1}),
 ('한양대', '뚝섬', {'weight': 1}),
 ('뚝섬', '성수', {'weight': 1}),
 ('성수', '건대입구', {'weight': 1}),
 ('건대입구', '구의', {'weight': 1}),
 ('구의', '강변', {'weight': 1}),
 ('강변', '잠실나루', {'weight': 1}),
 ('잠실나루', '잠실', {'weight': 1}),
 ('잠실', '잠실새내', {'weight': 1}),
 ('잠실새내', '종합운동장', {'weight': 1}),
 ('종합운동장', '삼성', {'weight': 1}),
 ('삼성', '선릉', {'weight': 1}),
 ('선릉', '역삼', {'weight': 1}),
 ('역삼', '강남', {'weight': 1}),
 ('강남', '교대', {'weight': 1}),
 ('교대', '서초', {'weight': 1}),
 ('서초', '방배', {'weight': 1}),
 ('방배', '사당', {'weight': 1}),
 ('사당', '낙성대', {'weight': 1}),
 ('낙성대', '서울대입구', {'weight': 1}),
 ('서울대입구', '봉천', {'weight': 1}),
 ('봉천', '신림', {'weight': 1}),
 ('신림', '신대방', {'weight': 1}),
 ('신대방', '구로디지털단지', {'weight': 1}),
 ('구로디지털단지', '대림', {'weight': 1}),
 ('노원', '창동', {'weight': 1})]

In [30]:
G = nx.Graph()

for idx, row in df2.iterrows():
    G.add_node(row.역명칭)

G.add_edges_from(edges)

In [31]:
G.nodes

NodeView(('신설동', '동대문', '종로3가', '시청', '서울역', '을지로3가', '동대문역사문화공원', '교대(법원·검찰청)', '사당', '신도림', '충무로', '까치산', '영등포구청', '충정로(경기대입구)', '종로3가(탑골공원)', '을지로4가', '왕십리', '오금', '불광', '연신내', '합정', '삼각지', '약수', '신당', '노원', '건대입구', '고속터미널', '총신대입구(이수)', '대림(구로구청)', '잠실(송파구청)', '가락시장', '원흥', '대림', '녹번', '홍제', '무악재', '독립문', '경복궁', '안국', '동대입구', '금호', '옥수', '압구정', '신사', '잠원', '교대', '남부터미널', '양재', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서', '경찰병원', '당고개', '상계', '반월', '상록수', '한대앞', '중앙', '고잔', '초지', '안산', '신길온천', '정왕', '오이도', '창동', '쌍문', '수유', '미아', '미아사거리', '길음', '성신여대입구', '한성대입구', '혜화', '명동', '회현', '서울', '숙대입구', '신용산', '이촌', '동작', '남태령', '선바위', '경마공원', '대공원', '과천', '정부과천청사', '인덕원', '평촌', '범계', '금정', '산본', '수리산', '대야미', '문래', '당산', '홍대입구', '신촌', '이대', '아현', '충정로', '용답', '신답', '용두', '도림천', '양천구청', '신정네거리', '대화', '주엽', '정발산', '마두', '백석', '대곡', '화정', '원당', '삼송', '지축', '구파발', '을지로입구', '상왕십리', '한양대', '뚝섬', '성수', '구의', '강변', '잠실나루', '잠실', '잠실새내', '종합운동장', '삼성', '선릉', '역삼', '강남', '서초', '방배', '낙성대', '서울대입구', '봉천', '신림', '신대방', '구로디지털단지', '남부터미널(예술의전당)', '동작(현충원)'))

In [32]:
source = '사당'
target = '서울'


def (source, target):
    p1 = nx.shortest_path(G, source=source, weight="weight")

    p1to6 = nx.shortest_path(G, source=source, target=target, weight="weight")

    length = nx.shortest_path_length(G, source=source, target=target, weight="weight")

    print("All shortest paths from 1: ", p1)
    print("Shortest path from 1 to 6: ", p1to6)
    print("Length of the shortest path: ", length)

    return p1to6

SyntaxError: ignored

In [ ]:
이거 데이터 줄때

{
“title”: “어떤 추천 경로인지”,
“stations”: [“출발역이름”, “환승역1”, “환승역2”, …, “도착역”],
“lines”: [“1호선“,”3호선“,”2호선“],
“notes”: “해당 경로는 모든 역에 엘레베이터/리프트를 포함하고있습니다”
}